html {
    height: 100%;
}

body {
	background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
	background-size: cover;
    height: calc(100vh - 164px);
    font-family: "Oswald";
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.display-4 .logo-font .text-black {
    text-transform: lowercase;
    color: red;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: rgb(104, 97, 97);
    min-width: 260px;
}

.btn-black {
    background: black;
    color: rgb(168, 164, 164);
}

.display-4 {
    color: red;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: rgb(207, 7, 7);
}

.text-black {
    color: rgb(240, 230, 230) !important;
}

.border-black {
    border: 1px solid rgb(245, 238, 238) !important;
}

.bg-black {
    background: #000 !important;
}

.free-delivery {
background-color: gb(100, 28, 28);
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* --------------------------------- Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
