<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="standard-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Standard
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="standard-link">
                <a href="{% url 'products' %}?category=sr45" class="dropdown-item">R45</a>
                <a href="{% url 'products' %}?category=sr65" class="dropdown-item">R65</a>
                <a href="{% url 'products' %}?category=sr80" class="dropdown-item">R80</a>
                <a href="{% url 'products' %}?category=sr100" class="dropdown-item">R100</a>
                <a href="{% url 'products' %}?category=>sr45,sr65,sr80,sr100" class="dropdown-item">All Standard R's</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Custom
            </a>
            
            <div class="dropdown-menu border-0" aria-labelledby="custom-link">
                <a href="{% url 'products' %}?category=cr45" class="dropdown-item">R45</a>
                <a href="{% url 'products' %}?category=cr65" class="dropdown-item">R65</a>
                <a href="{% url 'products' %}?category=cr80" class="dropdown-item">R80</a>
                <a href="{% url 'products' %}?category=cr100" class="dropdown-item">R100</a>
                <a href="{% url 'products' %}?category=>cr45,cr65,cr80,cr100" class="dropdown-item">All Custom R's</a>
            </div>  
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kits
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="kits-link">
                <a href="{% url 'products' %}?category=seatkits" class="dropdown-item">Seat &amp; Kit</a>
                <a href="{% url 'products' %}?category=bobber" class="dropdown-item">Bodder Kit</a>
                <a href="{% url 'products' %}?category=caferacer" class="dropdown-item">Cafe Racer Kit</a>
                <a href="{% url 'products' %}?category=bobber,caferacer" class="dropdown-item">All Kits</a>
            </div>
        </li>
    </ul>
</div>